################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PropTrade.App/bin
/packages
/PropTrade.App/obj
/PropTrade.App/Properties/PublishProfiles
/PropTrade.Api/bin
/PropTrade.Api/obj
/PropTrade.Api/Properties/PublishProfiles
/PropTrade.Api.Tests/bin/Debug
/PropTrade.Api.Tests/obj/Debug
*.suo
/PropTrade.App/ClientApp/node_modules
/PropTrade.App/ClientApp/bower_components
