@* The main server page - the "single page" from Single Page Application (SPA) *@

@{ ViewBag.Title = "PropTrade"; }

<script src="@Url.Content("~/ClientApp/js/propTradeServices.js")"></script>
<script src="@Url.Content("~/ClientApp/js/propTradeDirectives.js")"></script>
<script src="@Url.Content("~/ClientApp/js/propTradeApp.js")"></script>

<div ng-app="propTradeApp">
    <div login-logout></div>
    <hr />
    <div ng-view></div>
</div>